<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dateBean" class="java.util.Date">
		<property name="date" value="9"/>
	</bean>
	
	<bean id="scoreBean" class="test03.Score">
		<constructor-arg name="name" value="한성진"/>
		<constructor-arg name="kor" value="100"/>
		<constructor-arg name="eng" value="100"/>
	</bean>
	
	<bean id="beanTest" class="test03.BeanTest">
		<!-- 프리미티브 말고 참조형 변수의 생성자에 값 넣기!!!  -->
		<constructor-arg name="date" ref="dateBean"/>
		<property name="score" ref="scoreBean"/>
		<property name="boolean" value="true"/>
		<property name="array">
			<array>
				<value>스타크래프드</value>
				<value>디아블로2</value>
				<value>워크래프트3</value>
				<value>월드 오브 워크래프트</value>
			</array>
		</property>
		<property name="list">
			<list>
				<value>봄</value>
				<value>여름</value>
				<value>가을</value>
				<value>겨울</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>짜장면</value>
				<value>짬봉</value>
				<value>탕수육</value>
			</set>
		</property>
		<property name="map">
			<map>
				<entry>
					<key><value>Spring</value></key>
					<value>봄</value>
				</entry>
				<entry key="Summer" value="여름"/>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="sky">하늘</prop>
				<prop key="hell">한국</prop>
			</props>
		</property>
		<property name="scoreList">
			<list>
				<bean class="test03.Score">
					<constructor-arg value="정우석"/>
					<constructor-arg value="90"/>
					<constructor-arg value="95"/>
				</bean>
				<ref bean="scoreBean"/>
			</list>
		</property>
		
		
	</bean>
	
	
	
</beans>
